
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

p {
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Raleway", sans-serif;
    margin: 0;
}

main {
    flex-grow: 1;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
}

header h1 {
    font-size: 24px;
    color: #F9FAFB;
}

a {
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

@media (min-width: 700px) {
    .hero {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .hero .picture, .hero .hero-text {
        flex-basis: 50%;
    }
}

.hero {
    background-color: #1F2937;
    padding: 75px 100px;
    gap: 24px;
}

.hero h2 {
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 0;
}

.hero p {
    color: #E5E7EB;
}

.picture {
    max-width: 500px;
}

button {
    font-weight: 700;
    color: #E5E7EB;
    background-color: #3B82F6;
    border-radius: 8px;
    padding: 8px 24px;
}


.preview h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 48px;
}

.preview {
    padding: 25px 100px 60px;
}

.preview ul {
    justify-content: center;
}

.quote {
    text-align: center;
    background-color: #E5E7EB;
    padding: 60px 100px;
}

.quote-text {
    max-width: 1000px;
    margin: auto;
}

.quote h2 {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.author {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: right;
    padding-right: 200px;
}

.call-to-action {
    background-color: #3882f6;
    border-radius: 8px;
    margin: 100px 200px;
    padding: 48px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.action-main {
    font-size: 24px;
    font-weight: 500;
    color: #f9faf8;
}

.action-secondary {
    font-size: 18px;
    color:#e5e7eb;
}

.call-to-action button {
    border:2px solid #f9faf8;
    margin-top: 24px;
}

@media (max-width: 700px) {
    .call-to-action {
        display: block;
        padding: auto;
        margin: auto;
    }
}

footer {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
    text-align: center;
    padding: 24px 0;
}